@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-400.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-700.woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-900.woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
html {
	height: 100%;
}
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 22px;
	background-color: #feafc3;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.page_container {
	width: 1170px;
	margin: 0 auto;
	color: #2d3440;
}
.main-container {
	flex-grow: 1;
}
.link {
	text-decoration: none;
	color: inherit;
}
/* Header */
.page_header {
	display: flex;
	padding: 0;
	padding-top: 24px;
}
.navigation_list,
.info-user {
	padding: 0;
	list-style-type: none;
}
.navigation_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navigation_item {
	min-width: 32px;
	min-height: 36px;
	margin-right: 16px;
	margin-left: 16px;
}
.info-user {
	display: flex;
	margin-left: 214px;
	flex-wrap: wrap;
}
.contacts-phone {
	font-weight: 700;
}
/* Слайдер */
.slider_options {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.slider_text {
	color: #2d3440;
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.slider_title {
	font-weight: 900;
	font-size: 36px;
	line-height: 46px;
	color: #2d3440;
	text-align: left;
	flex-grow: 1;
	width: 470px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 24px;
}
.slider_description {
	width: 414px;
	padding-bottom: 48px;
}
.slider_bottom {
	display: flex;
}
.slider_pagination {
	display: flex;
}
/* временные рамки до появления иконок*/
.socials_list,
.slider_pagination {
	border: rgba(252, 252, 252, 0.4) 5px solid;
}
.offers,
.news_blog_text,
.delivery_date,
.delivery_tel,
.delivery_address {
	color: #2d3440;
}
/* отступ "по потоку" для крупных блоков */
.options,
.offers,
.popular,
.advantages,
.container_news,
.delivery {
	margin-bottom: 80px;
}
.offers_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 56px;
}
.offers_list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;	
}
.offers_item {
	width: 570px;
	background-color: #ff7799;
	border-radius: 16px;
	padding: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}
.offers_item_title {
	padding-left: 40px;
	margin-bottom: 16px;
}
.offers_item_description {
	width: 321px;
	padding-left: 40px;
}
.offers_item_button {
	background: #fcfcfc;
	border: 4px solid rgba(252, 252, 252, 0.4);
	box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
	border-radius: 26px;
	color: #2d3440;
	font-weight: 700;
	padding: 12px 32px;
	margin: 0;
	margin-left: 40px;
}
.offers_item_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #2d3440;
}
.popular_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	color: #2d3440;
	width: 527px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
	}
.popular .product_card {
	margin-top: 0;
}
.advantages {
	background-image: url("../images/waffle_back.jpg");
	object-fit: cover;
	border-radius: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 24px;

}
.advantages_background {
	background-color: #fcfcfc;
	border-radius: 16px;
	padding: 56px 40px;
}
.advantages_title {
	text-align: center;
	font-weight: 900;
	color: #2d3440;
	font-size: 32px;
	line-height: 46px;
	width: 995px;
	margin: 0;
	padding: 0;
	margin-bottom: 56px;
}
.advantages_item,
.advantages_list,
.advantages_description {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container_news {
	display: flex;
	justify-content: space-between;
	padding: 0;
}
.news_blog_link,
.news_blog_text,
.news_blog,
.news_blog_title {
	padding: 0px;
	margin: 0px;
}
.news_blog {
	background-image: url("../images/ice_news.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 16px;
	width: 570px;
}
.news_blog_title {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
}
.news_blog_text {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	width: 303px;
}
.newsletter {
	background-image: url("../images/mail.png");
	border-radius: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 570px;
	padding: 6px;
}
.newsletter_background {
	background-color: #fcfcfc;
	border-radius: 16px;
	padding: 26px;
}
.newsletter_description {
	margin-bottom: 42px;
}
.newsletter-email {
	margin: 0;
	padding: 0;
}
.newsletter-button {
	margin-left: 24px;
}
.delivery {
	background-image: url("../images/ice_delivery.png");
	border-radius: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px;
	padding-left: 100px;
	padding-right: 64px;
}
.delivery_description {
	width: 371px;
	align-self: center;
}
.delivery_title {
	font-size: 32px;
	line-height: 46px;
	font-weight: 900;
	color: #2d3440;
}
.button {
	background-color: #ff2f64;
	border-radius: 26px;
	border: 4px solid rgba(255, 47, 100, 0.3);
	color: #fcfcfc;
	font-weight: 700;
	padding: 13px 32px;
	font-size: 16px;
	line-height: 20px;
}
.delivery_form {
	background-color: #fcfcfc;
	border-radius: 8px;
	width: 500px;
	height: 406px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}
.delivery_form_descriprion{
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
}
.contacts {
	background-image: url("../images/Contacts.png");
	border-radius: 16px;
	background-repeat: no-repeat;
	padding: 64px;
}
.contacts_title_container {
	background: #fcfcfc;
	border-radius: 8px;
	width: 343px;
	padding: 40px;
	}
.contacts_title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #565c66;
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
}
.contacts_address {
	font-size: 20px;
	line-height: 24px;
	color: #2d3440;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}
.contacts_tel {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	}
.contacts_tel_bold {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #2d3440;
}
.button-feedback a {
	color: #fcfcfc;
}
footer {
	color: #2d3440;
}
.documents {
	font-size: 14px;
	line-height: 20px;
}
.info_academy {
	font-size: 12px;
	line-height: 16px;
}
.page-footer-container {
	display: flex;
	justify-content: space-between;
	padding-top: 48px;
}
/*----Каталог----*/
.navigation_link_aktiv {
	background: #ff4a78;
	border-radius: 26px;
	color: #fcfcfc;
	padding: 8px 16px;
}
.breadcrumbs {
	list-style-type: none;
	display: flex;
	padding: 0;
}
.breadcrumbs_item {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	margin-right: 16px;
}
.breadcrumbs_link {
	border-bottom: 1px solid #2d3440;
}
.catalog_products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.catalog_filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.catalog_filter_group {
	color: #2d3440;
	border: 0 none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 16px;
	margin-right: 24px;
}
.catalog_filter_group:last-of-type {
	margin-bottom: 0;
	margin-right: 0;
}
.catalog_filter_title {
	margin-bottom: 8px;
	margin-left: 8px;
}
.select_control {
	background: #fcfcfc;
	border-radius: 20px;
	color: #2d3440;
	padding: 8px 16px;
}
.catalog_filter_list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	background: #fcfcfc;
	border-radius: 20px;
	margin: 0;
	padding: 0;
}
.catalog_filter_group_title,
.catalog_filter_title {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
}
.catalog_filter_item {
	padding: 8px 16px;
}
.inner_header_title {
	font-size: 32px;
	font-weight: 900;
	line-height: 46px;
}
.button_select {
	background: rgba(252, 252, 252, 0.3);
	border: 2px solid #fcfcfc;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 700;
	color: #2d3440;
	padding: 8px 53px;
	width: 187px;
	height: 36px;
	align-self: flex-end;
	margin-left: 24px;
}
.product_card {
	list-style-type: none;
	background-color: #fcfcfc;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	width: 270px;
	margin-top: 90px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 28px;
	box-sizing: border-box;
}
.product_card_title,
.product_card_price {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #2d3440;
	padding: 0;
}
.pagination_button {
	background: #fcfcfc;
	border: 4px solid rgba(252, 252, 252, 0.4);
	border-radius: 26px;
	padding: 12px 32px;
	font-size: 16px;
	font-weight: 700;
}
.pagination_current {
	background-color: #fcfcfc;
	border-radius: 50px;
	padding: 2px 8px;
	margin: 10px 0;
}
.pagination_link {
	line-height: 20px;
	color: #2d3440;
}
.product_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
.product_card:nth-child(-n+4) {
	margin-top: 0;
}
.product_card_img {
	display: block;
	margin-top: -51px;
	align-self: center;
	border-radius: 50%;
	margin-bottom: 16px;
}
.product_card_title {
	margin: 0;
	margin-bottom: 8px;
}
.product_card_description {
	width: 190px;
	align-self: center;
	margin: 0;
	margin-bottom: 20px;
}
.pagination_item {
	list-style-type: none;
	padding: 0;
}
/* временный флекс, потом переделать на грид с двумя колонками */
.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	padding-top: 53px;
	padding-bottom: 53px;
}
/*  */
.pagination_list {
	display: flex;
}
.pagination_link {
	margin-right: 16px;
	padding: 2px 8px;
	border-radius: 50px;
}
.info_academy {
	align-self: flex-end;
}
.socials_list {
	display: flex;
}
/* временный флекс, потом переделать на грид с двумя колонками */
.documents_list {
	display: flex;
	margin: 0 auto;
}
