@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-400.woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-700.woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-900.woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
/*Данная часть в начале актуальна для всех сайтов*/
html {
	height: 100%;
}
.main-container {
	flex-grow: 1;
}
.link {
	text-decoration: none;
	color: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.button,
.slider_button,
.pagination_button {
	cursor: pointer;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* */

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 22px;
	background-color: #feafc3;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: #2d3440;
	margin: 0;
	padding: 0;
	min-width: 1170px;
}
.page_container {
	width: 1170px;
	margin: 0 auto;
}

/* Header */
.page_header {
	display: flex;
	padding: 0;
	margin: 0;
	padding-top: 20px;
	align-items: center;
	padding-bottom: 50px;
	flex-wrap: wrap;
}
.navigation_list,
.info-user,
.info_link {
	padding: 0;
	list-style: none;
	margin: 0;
	color: #2D3440;
}
.page_header_logo {
	flex-shrink: 0;
	margin-right: 16px;
	margin-top: 3px;
}
.navigation_list {
	display: flex;
	flex-wrap: wrap;
}
.navigation_item:not(:last-of-type) {
	margin-right: 12px;
}
.navigation_item:first-of-type {
	margin-left: 6px;
}
.navigation_link {
	font-size: 16px;
	line-height: 20px;
	background-position: center;
	padding: 8px 10px;
	background-color: #feafc3;
    border-radius: 26px;
    
}
.navigation_link:hover {
	background-color: rgb(252, 252, 252, 0.4);
}
.navigation_link:active {
	background-color: rgb(252, 252, 252);
}
.navigation_link:focus {
	background-color: rgb(252, 252, 252, 0.4);
	outline: 2px solid #2D3440;
}
.contacts_info {
	display: flex;
	align-items: center;
	margin-left: auto;
	flex-wrap: wrap;
}

.info-user {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	margin-left: 16px;
}
.contacts-phone {
	font-weight: 700;
	line-height: 20px;
	margin-left: auto;
	margin-top: -3px;
}
.info_item:not(:first-of-type) {
	margin-left: 20px;
}
.info_item:first-of-type {
	margin-right: -6px;
}
.info_link {
	background-color: rgb(252, 252, 252, 0.3);
	background-position: center;
	border-radius: 50%;
}
.info_link:hover {
	background-color: rgb(252, 252, 252, 0.5);
}
.info_link:focus {
	background-color: rgb(252, 252, 252, 0.5);
	border: 2px solid #2D3440;
}
.info_link:active {
	background-color: rgb(252, 252, 252);
	border: none;
}
.link_search {
	padding: 9px;
	display: inline-flex;
}
.link_log {
	padding: 7px 16px;
	border-radius: 26px;
	font-size: 14px;
	display: inline-flex;
}
.link_log::after {
	content: "Вход";
	font-size: 14px;
	line-height: 20px;
	margin-left: 5px;
}
.page_header_main .link_corb::after {
	content: "Пусто";
	font-size: 14px;
	line-height: 20px;
	margin-left: 8px;
}
.link_corb {
	padding: 7px 16px;
	border-radius: 26px;
	display: inline-flex;
}

/* Слайдер */
.options {
	padding: 104px 0 40px 0;
}
.slider_button {
	width: 38px;
	height: 38px;
	border-radius: 26px;
	background-color: rgba(252, 252, 252, 0.3);
	background-image: url("../images/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #FCFCFC;
	
}
.slider_prev {
	transform: rotate(180deg);
	margin-right: -20px;
	align-self: center;
	z-index: 1;
}
.slider_next{
	margin-left: -20px;
	align-self: center;
	z-index: 1;
}
.slider_button:hover {
	background-color: rgba(252, 252, 252);
}
.slider_options {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 95px;
}
.slider_options_item {
	display: flex;
}
.slider_text {
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 10px 0 70px;
	margin: 0;
}
.slider_title {
	font-weight: 900;
	font-size: 36px;
	line-height: 46px;
	color: #2d3440;
	text-align: left;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}
.slider_description {
	color: #2d3440;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	margin-bottom: 44px;
	margin-right: 10px;
}
.button_cart {
	background-color: #FCFCFC;
	border: 4px solid rgba(252, 252, 252, 0.4);
	box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
	border-radius: 26px;
	padding: 12px 30px;
	align-self: flex-start;
	font-weight: 700;
	line-height: 20px;
	background-clip: padding-box;
}
.button_cart:hover,
.offers_item_button:hover,
.pagination_button:hover {
	background-color: rgba(252, 252, 252, 0.4);
	border: 4px solid rgba(252, 252, 252);
}
.button_cart:focus,
.offers_item_button:focus,
.pagination_button:focus {
	background-color: rgba(252, 252, 252);
	border: 4px solid #FF2F64;
}
.newsletter_button:hover,
.delivery_submit:hover,
.button_feedback:hover {
	background-color: rgba(252, 252, 252);
	border: 4px solid #FF2F64;
	color: #2d3440;
}
.newsletter_button:focus,
.delivery_submit:focus,
.button_feedback:focus {
	background-color: #FF2F64;
	border: 4px solid #565C66;
	
}
.slider_bottom {
	display: flex;
	justify-content: space-between;
	
}
.slider_pagination {
	display: flex;
}
.image_slider {
	display: flex;

}
.img_slider_back{
	margin: 0;
	padding: 0;
	width: 100px;
	height: auto;
	margin-top: -30px;
}
.image_slider_active {
	display: flex;
	margin-top: -18px;
 }
 .img_slider_active {
	margin-top: -100px;
    margin-left: -55px;
 }
.circle_img {
	width: 321px;
	height: 321px;
	border-radius: 50%;
	background-color: #FFCBD8;
	padding-left: 75px;

}

.circle_img_back {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #FFCBD8;
	opacity: 0.4;
	margin-left: 41px;
	margin-top: 100px;
}


/* спрятана часть слайдера*/
.slider_options_item_hidden {
	display: none;
}

/* Используется в footer, padding важен*/
.socials_list{
	display: flex;
	margin: 0;
	padding: 0;
	height: min-content;
	padding-left: 6px;
}

.socials_item {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 15px;
	border-radius: 50%;
}
.socials_item:first-of-type {
	margin-left: 0;
}
.button_social {
	display: block;
	width: 24px;
	height: 24px;
	background-color: #FEAFC3;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px 24px;
	border: 2px solid rgba(252, 252, 252, 0.2);
	background-clip: padding-box;
}
.button_social:hover {
	background-color:#565C66;
}
.button_social:active {
	background-color:#565C66;
	border: 2px solid #2D3440;
}
.social_link_vk {
	background-image: url("../images/vk.svg");
}
.social_link_fb {
	background-image: url("../images/f.svg");
}
.social_link_inst {
	background-image: url("../images/inst.svg");
}
.slider_pagination_list {
	margin: 0;
	padding: 0;
	display: flex;
	align-self: flex-end;
}
.slider_pagination_button {
	width: 12px;
	height: 12px;
	background-color: #FCFCFC;
	border-radius: 50%;
	opacity: 0.3;
	margin-right: 8px;
	border: 1px solid rgba(252, 252, 252, 0.3);
}
.slider_pagination_button:hover {
	background-color: rgba(252, 252, 252, 0.3);
	border: 1px solid #FCFCFC;
}
.slider_pagination_button:active {
	background-color: rgba(252, 252, 252, 0.3);
	border: 1px solid #2D3440;
}

.slider_pagination_button_active {
	opacity: 1;
}

.offers,
.news_blog_text,
.delivery_date,
.delivery_tel,
.delivery_address {
	color: #2d3440;
}
.offers {
	padding: 40px 0;
}
.offers_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	margin: 0 364px 56px 364px;
	padding: 0;
}
.offers_list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;	
	margin: 0;
	padding: 0;
}
.offers_item {
	display: flex;
	flex: 1 0 40%;
	background-color: #ff7799;
	border-radius: 16px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	margin-left: 30px;
}
.offers_item:first-of-type {
	margin-left: 0;
}
.offers_item_img {
	align-self: flex-end;
	max-width: 100%;
	margin-left: 10px;
}
.offers_text {
	padding: 30px 0;
	margin-right: 10px;
}

.offers_item_button {
	background-color: #fcfcfc;
	border: 4px solid rgba(252, 252, 252, 0.4);
	border-radius: 26px;
	color: #2d3440;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	background-clip: padding-box;
	padding: 10px 30px;
	margin: 0;
	display: inline-block;
	margin-top: 14px;
	margin-bottom: 10px;
}
.offers_item_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #2d3440;
	margin: 0;
	margin-bottom: 16px;
}
.popular {
	padding: 40px 0 80px 0;
}
.popular_title {
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	color: #2d3440;
	margin: 0 321px 105px;
	text-align: center;
}

.product_card_button {
	width: 32px;
	height: 32px;
	background-color: #FF2F64;
	background-position: center;
	border-radius: 26px;
	padding: 8px;
}
.product_card_svg {
	fill: #FCFCFC;
}
.product_card_button:hover {
	background-color: #fcfcfc;
	outline: 2px solid #FF2F64;
}
.product_card_button:hover svg {
	fill: #565C66;
}
.product_card_button:focus {
	outline: 2px solid #2d3440;
}

.advantages {
	background-image: url("../images/waffle_back.jpg");
	object-fit: cover;
	border-radius: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 24px;
}
.advantages_background {
	background-color: #fcfcfc;
	border-radius: 16px;
	padding: 55px 40px 60px 38px;
}
.advantages_title {
	font-weight: 900;
	color: #2d3440;
	font-size: 32px;
	line-height: 46px;
	margin: 0;
	padding: 0;
	margin-bottom: 56px;
	text-align: center;
}
.advantages_item,
.advantages_list,
.advantages_description {
	list-style: none;
	padding: 0;
	margin: 0;
}
.advantages_item {
	display: flex;
}
..advantages_description {
	margin-top: 1px;
}
.advantages_list {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 40px;
	column-gap: 25px;
}
.item_1 {
	grid-column: 1/2;
	grid-row: 1/2;
}
.item_icon {
	width: 150px;
	flex-shrink: 1;
	margin-right: 13px;
	align-self: flex-start;
	fill: #FCFCFC;
}

.item_2 {
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
}
/* несработавшая идея с псевдоэлементами
.item_1 p::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/ice.svg");
}
.item_2 p::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/leaf.svg");
}
.item_3 p::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/cow.svg");
}
.item_4 p::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/thermometer.svg");
}
*/
.item_3 {
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
}
.item_4 {
	display: flex;
}


/* Ломается при переполнении

.advantages_list {
	display: grid;
	margin-left: 104px;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 40px;
	column-gap: 55px;
}
.item_1 {
	grid-column: 1/2;
	grid-row: 1/2;
}
.advantages_item {
	position: relative;
	max-width: 442px;
}
.item_1::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/ice.svg");
	position: absolute;
	left: -64px;
}
.item_2 {
	grid-column: 1/2;
	grid-row: 2/3;
}
.item_2::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/leaf.svg");
	position: absolute;
	left: -64px;
}
.item_3 {
	grid-column: 2/3;
	grid-row: 1/2;
}
.item_3::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/cow.svg");
	position: absolute;
	left: -64px;
}
.item_4::before {
	content: " ";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url("../images/thermometer.svg");
	position: absolute;
	left: -64px;
}
*/

.container_news {
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding: 75px 0;
}
/*здесь блок с неуловимым отступом */

.news_blog_link,
.news_blog_text,
.news_blog,
.news_blog_title {
	padding: 0px;
	margin: 0px;
}
.news_blog_link {
	display: grid;
	width: 570px;
	grid-template-columns: auto auto;
	grid-template-rows: min-content 1fr;
}
.news_blog_img {
	border-radius: 16px;
	width: 570px;
	grid-column: 1/-1;
	grid-row: 1/-1;
	display: inline-block;
	height: 100%;
	object-fit: cover;
}
.news_blog_title {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	grid-column: 1/2;
	grid-row: 1/2;
	z-index: 2;
	margin-left: 32px;
	margin-top: 32px;
}
.news_blog_text {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	grid-column: 1/2;
	grid-row: 2/3;
	z-index: 2;
	margin-left: 32px;
	margin-top: 12px;

}
.newsletter {
	background-image: url("../images/mail.png");
	border-radius: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 570px;
	padding: 6px;
	
}
.newsletter_background {
	background-color: #fcfcfc;
	border-radius: 16px;
	padding: 26px;
	padding-top: 25px;
    box-sizing: border-box;
	height: 100%;
}
.newsletter_form {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	column-gap: 20px;
	row-gap: 38px;
}
.newsletter_description {
	grid-column: 1/-1;
	margin: 0;
	padding: 0;
}

.field {
	background: #FFFFFF;
	border: 1px solid #B9B9B9;
	box-sizing: border-box;
	border-radius: 4px;
}
.field:hover {
	border-color: #2D3440;
}
.field:active {
	border: 2px solid #2D3440;
}
.field:disabled {
	background: #E7E7E7;
	border: 1px solid #B9B9B9;
}
/*.field:invalid {
	background: #FFFFFF;
	border: 2px solid #EA5454;
}
*/
.field_newsletter_email {
	grid-column: 1/2;
	grid-row: 2/3;
	color: #B9B9B9;
	padding: 14px;
	flex-grow: 1;
	margin: 0;
}

.newsletter_button {
	grid-column: 2/3;
}
	
.delivery {
	background-image: url("../images/ice_delivery.png");
	border-radius: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 64px;
	margin-bottom: 80px;
}
.delivery_description {
	margin-right: 135px;
	align-self: center;
	align-self: flex-start;
}
.delivery_title {
	font-size: 32px;
	line-height: 46px;
	font-weight: 900;
	color: #2d3440;
	margin: 0;
    padding: 0;
	margin-top: 105px;
}
.delivery_text {
	margin: 0;
	padding: 0;
	margin-top: 24px;
}
.button {
	background-color: #ff2f64;
	border-radius: 26px;
	border: 4px solid rgba(255, 47, 100, 0.3);
	color: #fcfcfc;
	font-weight: 700;
	padding: 13px 32px;
	font-size: 16px;
	line-height: 20px;
	background-clip: padding-box;
}
.delivery_form {
	background-color: #fcfcfc;
	border-radius: 8px;
	padding: 41px;
	flex: 0 0 500px;
	display: grid;
	grid-template-columns: 117px 287px;
	column-gap: 16px;
	row-gap: 30px;;
	height: 100%;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}
.info {
	content: "";
	background-image: url("../images/Union.svg");
	background-color: #FCFCFC;
	width: 14px;
	height: 14px;
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}
.field_group {
	padding: 0;
	margin: 0;
}
.delivery_form_descriprion{
	margin: 0;
	padding: 0;
	grid-column: 1/-1;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}
.delivery_form_address {
	grid-column: 1/-1;
}
.delivery_submit {
	grid-column: 1/-1;
	justify-self: center;
	background-clip: padding-box;
}
.field_group {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.form_label {
	margin-bottom: 10px;
}
.input_form {
	padding: 14px 16px;
	color: #B9B9B9;
}
input[type=date]::-webkit-calendar-picker-indicator {
	opacity: 0;
}
input[type=date] {
	padding: 12px 16px;
}
.delivery_form_address {
	margin-top: -5px;
}
.contacts {
	background-image: url("../images/Contacts.png");
	border-radius: 16px;
	background-repeat: no-repeat;
	padding: 65px;
}
.contacts_title_container {
	background-color: #fcfcfc;
	border-radius: 8px;
	display: inline-block;
	width: 343px;
	padding: 45px 40px 50px 40px;
}
.contacts_title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #565c66;
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
}
.contacts_address {
	font-size: 20px;
	line-height: 24px;
	color: #2d3440;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}
.contacts_tel {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
}
.contacts_tel_bold {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #2d3440;
}
footer {
	color: #2d3440;
}
.documents {
	font-size: 14px;
	line-height: 20px;
}
.documents_list {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 24px;
	row-gap: 8px;
	margin: 0;
	padding: 0;
	margin-left: 324px;
}
.documents_item {
	list-style: none;
}
.documents_item:hover {
	color: #ff2f64;
}
.documents_item_heart {
	list-style-image: url("../images/vector.svg");
}	
.info_academy {
	font-size: 12px;
	line-height: 16px;
	margin-left: auto;
}
.page_footer_container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 47px;
	padding-right: 14px;
	padding-bottom: 57px;
}
.text_footer {
	padding: 0;
	margin: 10px 0 0 0;
}
/*----Каталог----*/
.navigation_link_aktiv {
	background-color: #ff4a78;
	color: #FCFCFC;
	padding: 8px 16px;
	margin-right: 4px;
}
.page_header_catalog .page_header_logo {
	margin-right: 10px;
}
.page_header_catalog .navigation_item:not(:last-of-type) {
	margin-right: 9px;
}
.navigation_item_active + .navigation_item {
	margin-left: -5px;
}
.page_header_catalog .contacts-phone {
	margin-top: 0;
}
.page_header_catalog .link_corb::after {
	content: "2 товара";
    font-size: 14px;
    line-height: 20px;

    margin-left: 8px;
}
.breadcrumbs {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}
.breadcrumbs_item {
	display: flex;
    align-items: center;
	padding: 0;
	margin: 0;
}
.breadcrumbs_link {
	border-bottom: 1px solid #2d3440;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	margin-right: 10px;
}
.breadcrumbs_link_active {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}
.breadcrumbs li:not(:last-of-type)::after {
	content: "";
	background-image: url("../images/arrow_catalog.svg"); 
	width: 12px;
	height: 12px;
	display: block;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-right: 7px;
}
.inner_header_title {
	margin: 0;
    padding: 0;
    margin-top: 17px;
}
.inner_header {
	padding-bottom: 18px;
}
.catalog_products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px 0 20px 0;
}
.catalog_filter {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 14px 0 0 0;
}
.catalog_filter_container {
	padding-bottom: 97px;
}
.catalog_filter_group {
	border: 0 none;
	padding: 0;
	margin: 0;
	margin-right: 22px;
}
.catalog_filter_group:nth-child(3) {
	margin-bottom: 0;
}
.catalog_filter_title {
	margin-bottom: 8px;
	margin-left: 16px;
}

.select_control {
	width: 100%;
	padding: 8px 14px;
	padding-right: 75px;
	background-color: rgb(252, 252, 252, 0.3);
	border-radius: 20px;
	border-color: rgb(252, 252, 252, 0.1);
	background-image: url("../images/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 16px center;
	appearance: none;
	font-size: 14px;
	line-height: 20px;
	color: #2D3440;
}
.select_control:hover {
	background-color: rgb(252, 252, 252, 0.5)
} 
.select_control:focus {
	background-color: rgb(252, 252, 252, 0.5);
	border-color: rgb(252, 252, 252, 1);
} 

.catalog_filter_list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(252, 252, 252, 0.4);
	border-radius: 20px;
	margin: 0;
	padding: 0;
}
/* Range */
.range {
	padding: 17px 16px;
	background-color: rgb(252, 252, 252, 0.3);
	border-radius: 20px;
}
.range_scale {
	position: relative;
	height: 4px;
	width: 164px;
	background-color: rgb(86, 92, 102, 0.3);
	border-radius: 2px;
}
.range_bar {
	position: absolute;
	border: 2px solid #565C66;
	background-color: #565C66;
 }

.range_toggle {
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-radius: 50%;
	border: 6px solid #2D3440;
	padding: 0;
	cursor: pointer;
}
 
  .range_toggle:hover {
	background-color: #FCFCFC;
}
  
  .range_toggle:active,
  .range_toggle:focus {
	outline: 2px solid #2D3440;
} 
  .toggle_min {
	top: -9px;
	left: -16px;
  }
  .toggle_max {
	top: -9px;
	right: -16px;
}
.toggle_min:hover,
.toggle_max:hover {
  border: 6px solid #FCFCFC;
  background-color: #2d3440;
}
.toggle_min:focus,
.toggle_max:focus {
  border: 6px solid #FCFCFC;
  background-color: #2d3440;
  outline: 2px solid #2D3440;
}
.toggle_min:active,
.toggle_max:active {
  background-color: #2d3440;
}
 /*radio*/

.catalog_filter_group_title,
.catalog_filter_title {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
}
.control_input[type="radio"] + .control_mark {
	border-radius: 50%;
	position: relative;
	width: 16px;
	height: 16px;
	border: 2px solid #2D3440;
	padding: 0;
	display: block;
}
.control_input[type="radio"]:checked +.control_mark::after {
	content: "";
	width: 6px;
	height: 6px;
	position: absolute;
	background-color: #2d3440;
	border-radius: 50%;
	left: 3px;
    top: 3px;
}
.control_input[type="radio"] + .control_mark:hover {
  border: 2px solid #FCFCFC;
}
.control_input[type="radio"]:checked +.control_mark::after:hover {
	background-color: red;

}
  .control {
	display: flex;
	align-items: center;
	margin-left: 16px;
  }
  .control_label {
	font-size: 14px;
	height: 20px;
	padding-left: 8px;
}
.catalog_filter_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 10px 16px 8px 0;
}
.catalog_filter_group_line{
	display: flex;
	padding: 0;
	margin-right: auto;
	margin-top: 15px;
	align-items: flex-end;
}
.catalog_filter_group_line .catalog_filter_group {
	margin: 0;
}
.catalog_filter_group_line .catalog_filter_list {
	padding: 5px 20px 10px 16px;
	align-items: center;
}
.control_input[type="checkbox"] + .control_mark {
	position: relative;
	width: 16px;
	height: 16px;
	background-image: url(../images/box.svg);
	padding: 0;
	display: inline-block;
}
.control_input[type="checkbox"]:checked + .control_mark {
	background-image: url(../images/box_full.svg);
	position: relative;
	width: 16px;
	height: 16px;
	padding: 0;
	display: inline-block;
}
.control_input[type="checkbox"]:checked + .control_mark:hover {
	background-image: url(../images/box_full_white.svg);
} 
.control_input[type="checkbox"] + .control_mark:hover {
	background-image: url(../images/box_white.svg);
} 
.inner_header_title {
	font-size: 32px;
	font-weight: 900;
	line-height: 46px;
}
.button_select {
	background-color: rgba(252, 252, 252, 0.3);
	border: 2px solid #fcfcfc;
	border-radius: 20px;
	font-size: 14px;
	font-weight: 700;
	color: #2d3440;
	padding: 10px 55px;
	align-self: flex-end;
	margin-left: 24px;
}
.button_select:hover {
	background-color: rgba(252, 252, 252);
	border: 2px solid #fcfcfc;
}
.button_select:focus {
	border-color: #2D3440;
}
.button_select:disabled {
	opacity: 0.3;
}
.product_card {
	list-style: none;
	background-color: #fcfcfc;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding-left: 40px;
	padding-right: 40px;
}
.product_card_title,
.product_card_price {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #2d3440;
	padding: 0;
	margin: 0;
}
.product_card_price {
	align-self: center;
	margin-right: 70px;

}
.pagination_button {
	background-color: #fcfcfc;
	border: 4px solid rgba(252, 252, 252, 0.4);
	border-radius: 26px;
	padding: 12px 32px;
	font-size: 16px;
	font-weight: 700;
	box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
	background-clip: padding-box;
}
.pagination_current {
	background-color: #fcfcfc;
	margin: 10px 0;
}
.pagination_link {
	line-height: 20px;
	color: #2d3440;
}
.product_list {
	display: grid;
	grid-template-columns: repeat(4, 270px);
	column-gap: 30px;
	row-gap: 91px;
	padding: 0;
	margin: 0;
}
.product_card_img {
	display: block;
	margin-top: -51px;
	align-self: center;
	border-radius: 50%;
	margin-bottom: 16px;
	object-fit: contain;
}
.product_card_content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}
.product_card_title {
	margin: 0;
	margin-bottom: 10px;
}

.product_card_description {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 15px;
}
.pagination_item {
	list-style: none;
	padding: 0;
}
.product_card_buy {
	display: flex;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}
.pagination-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	padding-top: 32px;
	padding-bottom: 78px;
}

.pagination_button {
	grid-column: 1/-1;
	justify-self: center;
	grid-row: 1/2;
}
.pagination_list {
	z-index: 2;
	justify-self: end;
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
}
.pagination_link {
	padding: 2px 6px;
	border-radius: 50px;
	cursor: pointer;
}
.pagination_prev {
	background-image: url("../images/arrow_pag_cat.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.pagination_item:first-of-type {
	transform: rotate(180deg);
	margin-right: 20px;
}
.pagination_item:last-of-type {
	margin-left: 20px;
}
.pagination_next {
	background-image: url("../images/arrow_pag_cat.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.pagination_item {
	border-radius: 50%;
	margin-right: 4px;
}
.pagination_item:hover {
	outline:2px solid rgba(252, 252, 252);
	background-color: rgba(252, 252, 252, 0.3);
}
.pagination_item:focus {
	outline:2px solid #565C66;
	background-color: rgba(252, 252, 252, 0.3);
}
.info_academy {
	align-self: flex-end;
}


